body{
background-color: rgb(250, 250, 250);
}
.container{
display: flex;
align-items: center;
justify-content: center;
}

/* .card1{
    border-bottom: 10px solid  rgba(0, 0, 255,0.5);
}
.card2{
    border-bottom: 10px solid  rgba(0,255, 0,0.5);
}
.card3{
    border-bottom: 10px solid  rgba( 255,0, 0,.5);
} */